# Build
target/

# Maven wrapper (optional: remove jar ignore if you want it committed)
.mvn/wrapper/maven-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

HELP.md
!**/src/main/**/target/
!**/src/test/**/target/